*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

/* background body */
.background{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -99999;
}

.backgroundTop{
    background-color: #009587;
    height: 20vh;
    width: 100%;
}

.backgroundBottom{
    background-color: #DBDBD2;
    height: 80vh;
    width: 100%;
}
/* /background body */

/* container */
.container{
    margin: auto;
    width: 90%;
    border: 1px solid black;
}
/* /container */

/* containerLeft */
.containerLeft{
    width: 30%;
}
/* titleUserLeft */
.titleUserLeft{
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.titleUserLeft .titleUserLeftLeft{
    display: flex;
    align-items: center;
}

.titleUserLeft img.myAvatarImg{
    width: 4em;
    border-radius: 50%;
}

.titleUserLeft .titleUserLeftLeft p{
    margin-left: 0.2em;
}

.titleUserLeft .titleUserLeftRight i{
    margin-left: 0.5em;
    color: #B1B1B1;
}
/* /titleUserLeft */

/* notification */
.notification{
    background-color: #8edafc;
    padding: 1em;
    display: flex;
    align-items: center;
}

.notification .notificationLeft i{
    font-size: 1.5em;
    padding: 0.5em;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
}

.notification .notificationRight{
    margin-left: 1em;
}

.notification .notificationRight a{
    color: gray;
}
/* /notification */

/* input */
.input{
    padding: 0.5em;
    border: 5px solid #FAFAFA;
    background-color: white;
}

.input i{
    color: #B6B9BB;
    padding-left: 1em;
    padding-right: 2em;
}

.input input{
    border-style: none;
    outline: none;
    width: 80%;
}
/* /input */

/* users */
.user{
    padding: 1em;
    background-color: white;
    border-bottom: 1px solid #FAFAFA;
    display: flex;
    justify-content: space-between;
}

.user .userLeft{
    display: flex;
}

.users img.avatarUser{
    width: 4em;
    border-radius: 50%;
}

.users .textUser{
    padding-top: 0.2em;
    padding-left: 0.5em;
}

.users .userMessage{
    color: #B6B9BB;
    font-size: 0.7em;
}

.users .dateMessage{
    color: #B6B9BB;
    font-size: 0.6em;
}


/* /users */

/* /containerLeft */

/* containerRight */
.containerRight{
    width: 70%;
}