<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Boolzapp</title>
</head>
<body>
    <!-- Milestone 1 $
    Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco)
    assegnando due classi CSS diverse
    Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto -->

    <!-- Milestone 2 $
    Visualizzazione dinamica dei messaggi: tramite la direttiva v-for, visualizzare tutti i messaggi relativi al contatto
    attivo all’interno del pannello della conversazione
    Click sul contatto mostra la conversazione del contatto cliccato -->

    <!-- Milestone 3 $
    Aggiunta di un messaggio: l’utente scrive un testo nella parte bassa e digitando
    “enter” il testo viene aggiunto al thread sopra, come messaggio verde
    Risposta dall’interlocutore: ad ogni inserimento di un messaggio, l’utente riceverà
    un “ok” come risposta, che apparirà dopo 1 secondo. -->

    <!-- Milestone 4
    Ricerca utenti: scrivendo qualcosa nell’input a sinistra, vengono visualizzati solo i
    contatti il cui nome contiene le lettere inserite (es, Marco, Matteo Martina -> Scrivo
    “mar” rimangono solo Marco e Martina) -->

    <!-- Milestone 5
    Cancella messaggio: cliccando sul messaggio appare un menu a tendina che
    permette di cancellare il messaggio selezionato.
    Visualizzazione ora e ultimo messaggio inviato/ricevuto nella lista dei contatti -->

    <!-- Consigli utili
    ● Si possono trascurare le scrollbar verticali, sia nel pannello dei messaggi, che nella
    lista dei contatti
    ● I pulsanti e le icone possono non funzionare (a parte l’invio del messaggio)
    ● Per gestire le date, può essere utile la libreria day.js
    ● La struttura dell’array dei contatti potrebbe avere questa forma: -->



    <div id="app">

        <div class="background">

            <div class="container">

                <div class="containerLeft">
                    
                    <div class="titleUserLeft">
                        <div class="titleUserLeftLeft">
                            <img class="myAvatarImg" src="img/avatar_io.jpg" alt="">
                            <p><strong>Nome Utente</strong></p>
                        </div>
                        
                        <div class="titleUserLeftRight">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    
                    <div class="notification">
                        <div class="notificationLeft">
                        <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notificationRight">
                            <p><strong>Ricevi notifiche di nuovi messaggi</strong></p>
                            <p><a href="">Attiva notifiche desktop</a></p>
                        </div>
                    </div>
                    
                    
                    <div class="input">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                <!-- users -->
                    <div class="users">
                        <div @click="goToChat(index)" v-for="(contact, index) in contacts" class="user">
                            <div class="userLeft">
                                <img class="avatarUser" :src="`img/avatar${contact.avatar}.jpg`" alt="">
                                <div class="textUser">
                                    <p class="userName"><strong>{{contact.name}}</strong></p>
                                    <p class="userMessage">{{contact.messages[1].text}}</p>
                                </div>
                            </div>
                            <div class="userRight">
                                <p class="dateMessage">25/12/2021 00:00:00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- chat title-->
                <div class="containerRight">
                    <div class="chatTitle">
                        <div class="chatTitletLeft">
                            <img class="userChat" :src="`img/avatar${contacts[counter].avatar}.jpg`" alt="">
                            <div class="textTitleChat">
                                <p class="nameUserChat"><strong>{{contacts[counter].name}}</strong></p>
                                <p class="lastAccessChat">{{contacts[counter].messages[0].date}}</p>
                            </div>
                        </div>
                        
                        <div class="chatTitleRight">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    
                    <!-- chat messages -->

                    <!-- devo inserire i messaggi, se il messaggio ha come status = "sent" gli metto la classe myChatBox altrimenti se status = "received" la classe sarà userChatBox. -->
                    <div class="chat">
                        <div v-for="message in contacts[counter].messages" :class="message.status == 'sent' ? 'myChatBox' : 'userChatBox'">
                            <p class="messageChat">{{message.text}}</p>
                            <p class="dataChat">{{message.date}}</p>
                        </div>
                        <!-- <div class="myChatBox">
                            <p class="messageChat">Sicuro di non aver sbagliato chat?</p>
                            <p class="dataChat">28/03/2020 10:20:10</p>
                        </div>
                        <div class="userChatBox">
                            <p class="messageChat">Ah Scusa!</p>
                            <p class="dataChat">28/03/2020 16:15:22</p>
                        </div> -->
                    </div>
                
                    <div class="footerChat">
                        <i class="far fa-smile"></i>
                        <input @keyup.enter="addMessage" v-model="newMessage" type="text" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
<script src="js/script.js"></script>
</body>
</html>